@import "scss/utils/mixins";
@import "scss/utils/colors";

.root {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: $WHITE;
  height: fit-content;
  margin-bottom: 1rem;
  border-radius: 10px;
  border-bottom: 1px solid $LIGHT_GRAY;

  @include sm() {
    display: none;
  }

  @include lg() {
    display: inline-block;
    width: 35vw;
    margin-top: 2rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid $LIGHT_GRAY;
  @include lg() {
    display: none;
  }
}
.logo {
  flex: 20%;
  display: flex;
  align-self: center;
}
.notifications {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.search {
  flex: 60%;
}
.input {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background-color: $LIGHT_GRAY2;
  width: 100%;
  &:focus {
    border: none;
    outline: none;
  }
}
.stories {
  padding: 0.5rem 0.7rem;
}
