@import "scss/utils/mixins";
@import "scss/utils/colors";

.root {
  display: flex;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  gap: 1rem;
  align-items: center;
  // don't add cursor to div elements
  :not(div) {
    cursor: pointer;
  }
}
.name {
  flex: 1;
  p {
    margin: 0;
    font-size: small;
  }
}
