@import "scss/utils/mixins";
@import "scss/utils/colors";
.header {
  border-bottom: thin solid $LIGHT_GRAY;

  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  @include lg() {
    display: none;
  }
}
.title {
  text-align: center;
  width: 80vw;
}

.user {
  display: flex;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  gap: 1rem;
}
.name {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-size: 14px;
}
.dotIcon {
  align-items: center;
}
