@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  padding: 1rem;
  @include lg() {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.header {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  @include lg () {
    margin-bottom: 0;
  }
}
.name {
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: 600;

  @include lg() {
    flex: 0.3;
    text-align: right;
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include lg() {
    flex-direction: row;
    gap: 1rem;
  }
}
.hintContainer {
  @include lg() {
    flex: 1;
  }
}
.hint {
  color: $GRAY;
  margin: 0.5rem 0;
  font-size: 13px;
}
.input {
  width: 95%;
  padding: 0.5rem;
  &::placeholder {
    font-size: 14px;
  }
}
.submitBtn {
  background-color: $BLUE;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: $WHITE;
  width: 10rem;
  margin: 1rem 0;
}
