@import "scss/utils/colors";
@import "scss/utils/mixins";

.root {
  width: 90%;
  padding: 0 1rem;
  @include md() {
    width: 50vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid $LIGHT_GRAY;
  }
  @include lg() {
    height: fit-content;
    width: fit-content;
  }
}
.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
}
.avatarContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.name {
  display: flex;
  flex-direction: column;
}
.followBtn {
  background-color: $BLUE;
  color: $WHITE;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
