@import "scss/utils/colors";
@import "scss/utils/mixins";
%follow-btn {
  color: $WHITE;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 5rem;
  display: flex;
  justify-content: center;
}
.root {
  padding: 0 1rem;
}
.users {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin: 1rem 0;
}
.avatarContainer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 3rem;
  @include lg() {
    width: fit-content;
  }
}
.followBtn {
  background-color: $BLUE;
  @extend %follow-btn;
  cursor: pointer;
}
.disabledBtn {
  background-color: $GRAY;
  @extend %follow-btn;
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
}
.loadingIndicator {
  border: 3px solid red;
  height: 5vh;
  display: flex;
}
