$WHITE: #ffffff;
$BLACK: #000000;
$BLACK_LIGHTER: #252525;
$BLACK_WITH_OPACITY: rgb(0, 0, 0, 0.5);
$YELLOW_GREEN: #72d548;
$BLUE: #0095f6;
$BLUE_DARKER: #0078c5;
$RED: #e1341e;
$LIGHT_GRAY: #d3d3d3;
$LIGHT_GRAY2: #f8f8f8;
$GRAY: #808080;
