@import "scss/utils/mixins";
@import "scss/utils/colors";

%arrows {
  position: absolute;
  z-index: 1;
  top: 20%;
  cursor: pointer;
  margin-top: 5px;
  @include lg() {
    margin-top: 1rem;
  }
}
.root {
  border: 3px solid blue;
  position: relative;
}
.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 3px solid green;
  max-width: 50%;
}
.story {
  flex: 0 0 auto;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: $LIGHT_GRAY;
  @include lg() {
    height: 60px;
    width: 60px;
  }
  @include lg() {
    height: 70px;
    width: 70px;
  }
}
.name {
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 3rem;
  text-overflow: ellipsis;
  margin: 0;
  @include lg() {
    width: 4.5rem;
  }
}
.arrowLeft {
  @extend %arrows;
  left: 0;
}
.arrowRight {
  right: 0;
  @extend %arrows;
}
