@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
  overflow: hidden;
}
.story {
  flex: 0 0 auto;
}
.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: $LIGHT_GRAY;
  @include sm() {
    height: 80px;
    width: 80px;
  }
}
.name {
  font-size: 12px;
  text-transform: lowercase;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 3.5rem;
  text-overflow: ellipsis;
  @include lg() {
    width: 4.5rem;
  }
}
.arrowLeft {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 0;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 0;
  cursor: pointer;
}
