@import "scss/utils/mixins";
@import "scss/utils/colors";
%btn-style {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;

  width: 100%;
  align-self: center;
  text-transform: uppercase;
  height: 3rem;
  color: $WHITE;
  font-weight: 500;
  letter-spacing: 3px;
}
.signinBtn {
  @extend %btn-style;
  background-color: orange;
}
.disabledBtn {
  @extend %btn-style;
  background-color: $LIGHT_GRAY;
  cursor: not-allowed;
}
