@import "scss/utils/mixins";
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include lg() {
    flex-direction: row;
  }
}
.slogan {
  flex: 50%;
}
.banner {
  display: none;
  @include lg() {
    display: inline-block;
    flex: 50%;
  }
}
