@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  display: flex;
  @include lg() {
    width: 40vw;
    border: 1px solid $LIGHT_GRAY;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    gap: 1rem;
    height: 90vh;
  }
}
.sidebar {
  display: none;
  @include lg() {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $LIGHT_GRAY;
    font-size: 18px;
    flex: 0.8;
  }
}
.routeName {
  padding: 1rem;
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: $BLACK;
  font-size: 14px;
  &:hover {
    border-left: 2px solid $LIGHT_GRAY;
  }
}
.content {
  flex: 2;
  height: 100%;
}
