@import "scss/utils/fonts";
@import "scss/utils/mixins";
@import "scss/utils/colors";

.root {
  border: 3px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid $LIGHT_GRAY;

  @include sm() {
    border: none;
    justify-content: center;
  }
  @include lg() {
    width: 60vw;
    justify-content: space-evenly;
    gap: 2rem;
  }
}
.logo {
  display: flex;
  @include sm() {
    display: none;
  }
}
.search {
  flex: 0.8;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background-color: $LIGHT_GRAY;
  &:focus {
    border: none;
  }

  @include sm() {
    flex: 0.7;
    height: 1.5rem;
  }
  @include lg() {
    flex: 0.6;
    height: 1.8rem;
  }
}
.notifications {
  @include sm() {
    display: none;
  }
  @include lg() {
    display: inline;
    visibility: hidden;
  }
}
