@import "scss/utils/fonts";
@import "scss/utils/mixins";
@import "scss/utils/colors";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid $LIGHT_GRAY;
  @include lg() {
    display: none;
  }
}
.logo {
  flex: 20%;
  display: flex;
  align-self: center;
  font-family: $SACRAMENTO;
  font-size: 40px;
  flex: 10%;
  margin: 0;
  @include sm() {
    display: none;
  }
}
.search {
  flex: 70%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  background-color: $LIGHT_GRAY;
  width: 100%;
  &:focus {
    border: none;
  }
  @include sm() {
    visibility: hidden;
  }
  @include lg() {
    visibility: visible;
    flex: 40%;
  }
}
.notifications {
  flex: 10%;
  text-align: center;
  @include sm() {
    visibility: hidden;
  }
}
