@import "scss/utils/colors";
@import "scss/utils/mixins";
.root {
  border-top: 1px solid $LIGHT_GRAY;
}
.tabList {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-around;
  margin-top: 0;
  @include lg() {
    justify-content: center;
    gap: 1rem;
  }
}
.tab {
  width: 100%;
  cursor: pointer;
  text-align: center;
  list-style-type: none;
  padding-top: 1rem;
  outline: none;
  @include lg() {
    width: 10%;
    display: flex;
    align-items: center;
  }
}
.tabName {
  display: none;
  @include sm() {
    display: inline;
    font-size: small;
  }
}
.selectedTabClassName {
  align-self: center;
  color: $BLUE;
  border-top: 1px solid $BLACK;
}
