@import "scss/utils/colors";

.root {
  border-top: 1px solid $LIGHT_GRAY;
}
.tabList {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-around;
  margin-top: 0;
}
.tab {
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding-top: 1rem;
  outline: none;
}
.selectedTabClassName {
  align-self: center;
  color: $BLUE;
  border-top: 1px solid $BLACK;
}
