@import "../utils/mixins";
.root {
  @include lg() {
    width: 100%;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  @include lg() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 70%;
  }
}
.stories {
  width: 98vw;
  @include lg() {
    width: 100%;
  }
}
.recommendation {
  display: none;
  @include lg() {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}
.recommendationsRoot {
  width: 100%;
}
.recommendationsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 3px solid red;
  
}
.suggestionHeader {
  align-self: flex-start;
  font-weight: 500;
  @include lg() {
    font-size: 30px;
  }
}
