@import "scss/utils/mixins";
@import "scss/utils/colors";
%btn-style {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;

  width: 100%;
  align-self: center;
  text-transform: uppercase;
  height: 3rem;
  color: $WHITE;
  font-weight: 500;
  letter-spacing: 3px;
}

.signupBtn {
  composes: signinBtn from "../signin/signin.module.scss";
}

.disabledBtn {
  composes: disabledBtn from "../signin/signin.module.scss";
}
