@import "scss/utils/colors";

%modal-btn {
  border-top: thin solid $LIGHT_GRAY;
  width: 100%;

  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.nextBtn {
  color: $BLUE;
  cursor: pointer;
}
.backIcon {
  cursor: pointer;
}
.content {
  display: flex;
  height: 70vh;
  min-width: 40vw;
  max-width: 50vw;
  overflow-x: hidden;
}
.thumbnail {
  position: relative;
  height: 100%;
  width: 100%;
}

.carousel {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 30vw;
}
.captionContainer {
  flex: 0.5;
  overflow-y: auto;
  overflow-x: hidden;
}
.image {
  overflow: hidden;
  height: 70vh;
  width: 100%;
}
.icon {
  color: $WHITE;
  background-color: $BLACK;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  outline: none;
}
.options {
  display: flex;
  gap: 0.5rem;
}
.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30rem;
}
.modalHeader {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modalDescription {
  margin-top: 0.5rem;
  color: $GRAY;
}
.discardBtn {
  color: $RED;
  font-weight: 700;
  @extend %modal-btn;
}
.cancelBtn {
  @extend %modal-btn;
}

.picMenu {
  left: 0.8rem;
  color: white;
  bottom: 12%;
  border-radius: 10px;
  background-color: $BLACK_WITH_OPACITY;
}
.picOptions {
  border-top: 1px solid $WHITE;
  font-size: small;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  // remove border in first-child
  &:first-child {
    border: none;
  }
  &:focus {
    color: $WHITE;
  }
  &:not(:focus) {
    color: $GRAY;
  }
}
.range {
  left: 4rem;
  bottom: 12%;
  border-radius: 10px;
  background-color: $BLACK_WITH_OPACITY;
  padding: 1rem;
  outline: none;
  transition: opacity 0.2s;
}
.multipleImages {
  bottom: 12%;
  right: 1rem;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: $BLACK_WITH_OPACITY;
  padding: 1rem;
  outline: none;
  width: fit-content;
  max-width: 85%;
}

.addMore {
  border-radius: 50%;
  height: fit-content;
  border: thin solid white;
  padding: 0.5rem;
  cursor: pointer;
}

.multiImage {
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 1rem;
  cursor: pointer;
}

.multiImageContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.arrowLeft {
  position: absolute;
  color: $WHITE;
  z-index: 1;
  top: 30%;
  left: 0;
  cursor: pointer;
}
.arrowRight {
  position: absolute;
  color: $WHITE;
  z-index: 1;
  top: 30%;
  right: 0;
  cursor: pointer;
}
