@import "scss/utils/fonts";

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.title {
  padding: 1rem 3rem;
  margin: 2rem 0;
  font-family: $SACRAMENTO;
  font-size: 60px;
}
.links {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  margin: 0 1rem;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    background-color: #f8f8f8;
    border-radius: 20px;
  }
}
.active {
  font-weight: 700;
}

.inactive {
  font-weight: normal;
}
