@import "scss/utils/fonts";
@import "scss/utils/mixins";
@import "scss/utils/colors";

.root {
  display: none;

  @include sm() {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $WHITE;
    width: 5rem;
  }
  @include lg() {
    width: 100%;
  }
}
.logo {
  align-self: center;
  margin: 4rem 0;
}
.title {
  padding: 1rem 3rem;
  margin: 2rem 0;
  font-family: $SACRAMENTO;
  font-size: 60px;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}
.links {
  cursor: pointer;
  @include lg() {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 1rem;
    color: $BLACK;
    text-decoration: none;
    gap: 1rem;
    &:hover {
      background-color: $LIGHT_GRAY2;
      border-radius: 20px;
    }
    &:focus {
      font-weight: 700;
    }
  }
}

.settings {
  padding: 1rem 2.5rem;
  margin: 13rem 0;
  display: flex;

  align-items: center;
  gap: 2rem;
}
