@import "scss/utils/colors";
@import "scss/utils/mixins";
.root {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $LIGHT_GRAY;
  padding: 0.8rem;
  @include sm() {
    display: none;
  }
}
