@import "scss/utils/_mixins";
@import "scss/utils/_colors";

.root {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.logo {
  flex: 65%;
  margin: 0.6rem 2rem;
  @include lg() {
    margin: 1rem 2rem;
  }
}
.links {
  display: none;
  @include lg() {
    display: flex;
    flex: 30%;
    justify-content: space-evenly;
    cursor: pointer;
    :hover {
      background-color: red;
    }
  }
}
