@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  @include sm() {
    gap: 1.6vw;
  }
  @include lg() {
    gap: 1.3vw;
  }
}
.container {
  position: relative;
  height: 8rem;
  width: 32.5%;
  @include sm() {
    height: 15rem;
    width: 32%;
  }
  @include lg() {
    width: 31.5%;
    height: 18rem;
  }
  @include custom_breakpoint("2000px") {
    width: 31%;
  }
  &:hover {
    cursor: pointer;
  }
}

.multipleIcon {
  position: absolute;
  top: 2%;
  z-index: 1;
  right: 1%;
  color: $WHITE;
}

.post {
  @include sm() {
    display: flex;
  }
}
