@import "scss/utils/mixins";

.root {
  display: flex;
  align-items: center;
}

.advertisement {
  display: none;
  @include lg() {
    flex: 50%;
    display: block;
  }
}
.form {
  margin: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  @include lg() {
    flex: 50%;
    box-shadow: none;
    padding: 0 10rem;
  }
}
