@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  display: flex;
  flex-direction: column;
  background-color: $LIGHT_GRAY2;
  @include sm() {
    flex-direction: row;
  }
}

.sidebar {
  display: none;
  @include sm() {
    display: block;
    flex: 10%;
  }
  @include lg() {
    display: block;
    flex: 20%;
  }
}
.content {
  @include sm() {
    flex: 90%;
    border: 3px solid red;
  }
  @include lg() {
    flex: 80%;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
}
.item {
  height: 60vh;
  border: 3px solid red;
  margin: 1rem;
  @include lg() {
    width: 35vw;
  }
}
