@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  display: flex;
  background-color: #f8f8f8;
}

.sidebar {
  flex: 25%;
}
.content {
  flex: 50%;
}
.recommendations {
  flex: 25%;
}
