@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  height: 70vh;
  position: relative;

  @include sm() {
    width: 50vw;
    height: 40vh;
  }
  @include lg() {
    width: 30vw;
    height: 70vh;
  }
}
.image {
  height: 70vh;
  @include sm() {
    width: 50vw;
    height: 40vh;
  }
  @include lg() {
    width: 30vw;
    height: 70vh;
  }
}

.video {
  height: 70vh;
  width: 100%;
  @include sm() {
    height: 40vh;
  }
  @include lg() {
    height: 70vh;
  }
}
