@import "scss/utils/mixins";
@import "scss/utils/colors";
.root {
  height: 50vh;
  position: relative;

  @include sm() {
    width: 40vw;
    height: 30vh;
  }
  @include lg() {
    width: 25vw;
    height: 50vh;
  }
}
.image {
  height: 50vh;
  @include sm() {
    width: 20vw;
    height: 30vh;
  }
  @include lg() {
    height: 50vh;
  }
}

.video {
  height: 50vh;
  width: 100%;
  @include sm() {
    height: 40vh;
  }
  @include lg() {
    height: 50vh;
  }
}
