.root {
  margin-top: 0.5rem;
}
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem;
  // add cursor to child elements
  > * {
    cursor: pointer;
    &:last-child {
      margin-left: auto; /* Add this line to push the last child to the right */
    }
  }
}

.interactions {
  flex: 1;
  display: flex;
  gap: 1rem;
}

.avatar {
  border: 3px solid green;
}
.likedBy {
  display: flex;

  align-items: center;
  gap: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;

  .numOfLikes {
    font-size: 14px;
    margin-top: 0.5rem;
  }
  .username {
    font-size: 14px;
    font-weight: bold;
  }
}
